.control-btn{
	width:100%;
	display: inline-flex;
	justify-content: center;
}

#textBox {
	position: relative;
	width: 100%;
	min-height: 60vh;
	font-size: 16pt;
	resize: none;
	outline: none;
	overflow: auto;
}
